/* 모달 스타일 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* 배경 투명도 조정 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
  animation: fadeIn 0.3s ease-out; /* 모달 애니메이션 */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

/* 버튼 스타일 */
button {
  padding: 0.8rem 1.5rem;
  background-color: #133e87; /* 버튼 기본 배경색 */
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 1rem;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #608bc1; /* 버튼 hover 시 색상 */
  transform: scale(1.05); /* 버튼 크기 증가 */
}

/* 우측 하단 카테고리 추가 버튼 */
#add-category-btn {
  position: fixed;
  bottom: 30px; /* 하단에서 30px 띄움 */
  right: 30px; /* 오른쪽에서 30px 띄움 */
  width: 90px; /* 버튼 크기 증가 */
  height: 90px;
  border-radius: 50%; /* 원형 버튼 */
  background-color: #133e87; /* 버튼 기본 배경색 */
  color: white;
  font-size: 1.5rem; /* 글씨 크기 증가 */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

#add-category-btn:hover {
  background-color: #608bc1; /* 버튼 hover 색상 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* 카테고리 항목 */
.category-item {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

.category-item:hover {
  background-color: #cbdceb; /* hover 시 배경색 변경 */
  transform: scale(1.05); /* 항목 확대 효과 */
}

/* 선택된 카테고리 항목 스타일 */
.category-item.selected {
  background-color: #133e87;
  color: white; /* 선택된 항목 색상 변경 */
  font-weight: bold;
}
